<%- layout('./layouts/boilerplate') %>

    <h1>Edit blog</h1>
    <form action="/<%= username %>/blogs/<%= blog._id %>?_method=PUT" method="post">
        <input class="form-control" type="text" id="title" name="blog[title]" placeholder="title" value="<%=blog.title%>">
        <textarea class="form-control" type="text" id="content" name="blog[content]" placeholder="content"><%= blog.content %> </textarea>
        <button class="btn btn-primary">Confirm changes</button>
    </form>
    <form action="/<%= username %>/blogs/<%= blog._id %>" method="get">
        <button class="btn btn-secondary">Cancel</button>
    </form>